@using ServiceStation.Application.ServiceStation;
@using ServiceStation.Application.ServiceStation.Commands.CreateCar;
@model CreateCarCommand;

<h1>Create Car</h1>

<hr/>

<div class="row">
    <div class="col-md-4">
        <form action="/ServiceStation/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label" for="LicensePlate">LicensePlate</label>
                <input class="form-control" type="text" asp-for="LicensePlate">
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Name">Name</label>
                <input class="form-control" type="text" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="IdClient">IdClient</label>
                <input class="form-control" type="text" id="IdClient" name="IdClient">
            </div>
            <div class="form-group mb-3">
                <input class="btn btn-primary" type="submit" value="Create">
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}