@model ServiceStation.Application.ServiceStation.Commands.DeleteCar.DeleteCarCommand

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.LicensePlate?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
    </dl>

    <form asp-action="Delete" asp-controller="ServiceStation" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary m-1" asp-action="CarIndex" asp-controller="ServiceStation" asp-route-Id="@Model.IdClient">Back to List</a>
    </form>
</div>
