@model ServiceStation.Application.ServiceStation.Commands.UpdateCar.UpdateCarCommand

@{
    ViewData["Title"] = "Edit";
}

<h1 class="m-1">Edit</h1>

<h4 class="m-1">@Model.CarName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LicensePlate" />
            <div class="form-group">
                <label asp-for="CarName" class="control-label m-1"></label>
                <input asp-for="CarName" class="form-control m-1" />
                <span asp-validation-for="CarName" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary m-1" asp-action="CarIndex" asp-controller="ServiceStation" asp-route-Id="@Model.IdClient">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
